{% extends 'layout.html' %}

{% block content %}
<div class = "container"> <!-- container begin -->

<div class="card">
    <div class="card-body">
         
      <form style="float:left ; margin-left: 3px;" method="get">

        <button class="btn btn-light" disabled style="position: relative; float: left; margin-left: -10px;" >
          <b>条件筛选:</b>
        </button>

        <button class="btn btn-light" disabled style="position: relative; float: left;" >书名:</button>
        <input name="book" style="position: relative; float: left; width: 80px; border-radius: 0px;"
        type = 'text' class = 'form-control' placeholder="书名">

        <button class="btn btn-light" disabled style="position: relative; float: left;" >借阅人:</button>
        <input name="reader" style="position: relative; float: left; width: 80px; border-radius: 0px;"
        type = 'text' class = 'form-control' placeholder="借阅人">

        <button class="btn btn-primary" type="submit" style="margin-left: 10px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
           <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>查询借阅记录</button>
      </form>

        <a class="btn btn-warning" href="/borrow/outdate/" style="margin-left: 10px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
           <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
          查询超期借阅
        </a>

         <a class = "btn btn-success" href="/borrow/add/" style="margin-left: 10px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
          新建借阅条目
         </a> 

    </div>
</div>

<div class="card">
    <div class="card-body">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg>
        <b>借阅列表</b>
    </div>
    <table class="table" >
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">书名</th>
            <th scope="col">借阅人</th>
            <th scope="col">借阅日期</th>
            <th scope="col">应还日期</th>    
            <th scope="col">操作</th>
          </tr>
        </thead>
        <tbody>
        {% for obj in queryset %} 
          <tr>
            <th scope="row"> {{obj.id}} </th>
            <td> {{obj.book}} </td>
            <td> {{obj.reader}} </td>
            <td> {{obj.borrow_date}} </td>
            <td> {{obj.return_date}} </td>
            <td>
                <a class = "btn btn-success btn-sm" href="/borrow/{{obj.id}}/{{obj.book}}/return/">归还书籍</a>
                {% if obj.renewed == 0 %}
                 <a class = "btn btn-warning btn-sm" href="/borrow/{{obj.id}}/return/">续借书籍</a>
                {% else %}
                 <a class = "btn btn-secondary btn-sm"  href="#">已续借</a>
                {% endif %}
            </td>       
          </tr>
        {% endfor %}  
        </tbody>
      </table>
</div>

<nav aria-label="Page navigation example" style="margin-top: 15px;">
  <ul class="pagination justify-content-center"> 
    {{safestring}}
  </ul>
</nav>

</div><!-- container end -->

{% endblock %}


