{% extends 'layout.html' %}

{% block content %}
<div class = "container"> <!-- container begin -->

<div class="card">
    <div class="card-body">
         
         <a class = "btn btn-success" href="/pretty/add/">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
          新建靓号
         </a> 

         <button id="btn_modal" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
          模态框启动 
         </button>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg>
        靓号列表
    </div>
    <table class="table" >
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">手机号</th>
            <th scope="col">价格</th>
            <th scope="col">级别</th>
            <th scope="col">状态</th>
            
            <!-- <th scope="col">Handle</th> -->
          </tr>
        </thead>
        <tbody>
        {% for obj in queryset %} 
          <tr>
            <th scope="row"> {{obj.id}} </th>
            <td> {{obj.mobile}} </td>
            <td> {{obj.price}} </td>
            <td> {{obj.get_level_display}} </td>
            <td> {{obj.get_status_display}} </td>
            <td>
                <a class = "btn btn-primary btn-sm" href="/pretty/{{obj.id}}/edit/">编辑</a>
                <a class = "btn btn-danger btn-sm" href="/pretty/{{obj.id}}/delete/">删除</a>
            </td>         
          </tr>
        {% endfor %}  
        </tbody>
      </table>
</div>

<nav aria-label="Page navigation example" style="margin-top: 15px;">
  <ul class="pagination justify-content-center"> 
    {{safestring}}
  </ul>
</nav>

</div><!-- container end -->

<!-- JS 模态框 -->
<div class="modal fade" id="JSModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">新建靓号</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- 模态框中表单 -->
        <form method="post" novalidate>
          {% csrf_token %}
          {% for field in form %}     
              <div class="col-12">
                <label for="username" class="form-label"> {{field.label}} </label>
                {{field}}
                <span style="color: red;">{{field.errors.0}} </span>     
              </div>         
          {% endfor %}
       </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
        <button id="btn_save" type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}



{% block js %}
<script type='text/javascript'>
  //页面加载完毕后绑定
  $(function(){
      bindBtnAddEvent();
      bindBtnSaveEvent();
  })

  function bindBtnAddEvent(){
      $("#btn_modal").click(function(){
       //点击新建按钮，显示对话框
          $('#JSModal').modal('show');
      });
  }

  function bindBtnSaveEvent(){
      $("#btn_save").click(function(){
          alert("我草");
      });
  }
</script>
{% endblock %}